# .gitignore
Trial/.objects
Trial/soc_test
Library/.objects
Library/lib*.so.*
Library/lib*.a
Utilities/can_moni/.objects
Utilities/can_moni/can_moni
Utilities/can_test/.objects
Utilities/can_test/can_test
Tests
checker.txt
artifacts
Binaries
Includes
Testing
.vscode
*.exe
*.log
*.pdf